.main-footer {
  background: linear-gradient(
    to top,
    #120e23 0%,
    #120e23a9 40%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 1.5rem;
  text-align: center;
  margin-top: auto;
  color: #fff;
}
