## 🧪 Resultados de Pruebas - Wed May 28 22:34:43 UTC 2025
```

> angular@0.0.0 test
> ng test --watch=false --browsers=ChromeHeadless --reporters=progress

[32m28 05 2025 22:35:00.337:INFO [karma-server]: [39mKarma v6.4.4 server started at http://localhost:9876/
[32m28 05 2025 22:35:00.338:INFO [launcher]: [39mLaunching browsers ChromeHeadless with concurrency unlimited
[32m28 05 2025 22:35:00.341:INFO [launcher]: [39mStarting browser ChromeHeadless
[32m28 05 2025 22:35:01.375:INFO [Chrome Headless 136.0.0.0 (Linux x86_64)]: [39mConnected on socket _vvwPNzozFHpG9tIAAAB with id 50842428
Chrome Headless 136.0.0.0 (Linux x86_64): Executed 0 of 24 SUCCESS (0 secs / 0 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 1 of 24 SUCCESS (0 secs / 0.074 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 2 of 24 SUCCESS (0 secs / 0.084 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 3 of 24 SUCCESS (0 secs / 0.088 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 4 of 24 SUCCESS (0 secs / 0.112 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 5 of 24 SUCCESS (0 secs / 0.128 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 6 of 24 SUCCESS (0 secs / 0.139 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 7 of 24 SUCCESS (0 secs / 0.141 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 8 of 24 SUCCESS (0 secs / 0.155 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 9 of 24 SUCCESS (0 secs / 0.169 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 10 of 24 SUCCESS (0 secs / 0.174 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 11 of 24 SUCCESS (0 secs / 0.18 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 12 of 24 SUCCESS (0 secs / 0.22 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 13 of 24 SUCCESS (0 secs / 0.223 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 14 of 24 SUCCESS (0 secs / 0.225 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 15 of 24 SUCCESS (0 secs / 0.229 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 16 of 24 SUCCESS (0 secs / 0.261 secs)
[33m28 05 2025 22:35:03.268:WARN [web-server]: [39m404: /_karma_webpack_/assets/images/hero-image.png
[33m28 05 2025 22:35:03.269:WARN [web-server]: [39m404: /_karma_webpack_/assets/images/curso-python.png
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 17 of 24 SUCCESS (0 secs / 0.268 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 18 of 24 SUCCESS (0 secs / 0.273 secs)
[33m28 05 2025 22:35:03.282:WARN [web-server]: [39m404: /_karma_webpack_/assets/images/hero-image.png
[33m28 05 2025 22:35:03.282:WARN [web-server]: [39m404: /_karma_webpack_/assets/images/curso-python.png
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 19 of 24 SUCCESS (0 secs / 0.279 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 20 of 24 SUCCESS (0 secs / 0.283 secs)
[33m28 05 2025 22:35:03.294:WARN [web-server]: [39m404: /_karma_webpack_/assets/images/hero-image.png
[33m28 05 2025 22:35:03.295:WARN [web-server]: [39m404: /_karma_webpack_/assets/images/curso-python.png
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 21 of 24 SUCCESS (0 secs / 0.299 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 22 of 24 SUCCESS (0 secs / 0.301 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 23 of 24 SUCCESS (0 secs / 0.352 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 24 of 24 SUCCESS (0 secs / 0.357 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 24 of 24 SUCCESS (0.402 secs / 0.357 secs)
TOTAL: 24 SUCCESS
```
