## 🧪 Resultados de Pruebas - Wed May 28 22:25:28 UTC 2025
```

> angular@0.0.0 test
> ng test --watch=false --browsers=ChromeHeadless --reporters=progress

[32m28 05 2025 22:25:44.049:INFO [karma-server]: [39mKarma v6.4.4 server started at http://localhost:9876/
[32m28 05 2025 22:25:44.050:INFO [launcher]: [39mLaunching browsers ChromeHeadless with concurrency unlimited
[32m28 05 2025 22:25:44.054:INFO [launcher]: [39mStarting browser ChromeHeadless
[32m28 05 2025 22:25:45.010:INFO [Chrome Headless 136.0.0.0 (Linux x86_64)]: [39mConnected on socket g4_B1wkY9nwNbH0nAAAB with id 30544543
Chrome Headless 136.0.0.0 (Linux x86_64): Executed 0 of 24 SUCCESS (0 secs / 0 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 1 of 24 SUCCESS (0 secs / 0.066 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 2 of 24 SUCCESS (0 secs / 0.071 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 3 of 24 SUCCESS (0 secs / 0.083 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 4 of 24 SUCCESS (0 secs / 0.109 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 5 of 24 SUCCESS (0 secs / 0.149 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 6 of 24 SUCCESS (0 secs / 0.191 secs)
[33m28 05 2025 22:25:46.776:WARN [web-server]: [39m404: /_karma_webpack_/assets/images/hero-image.png
[33m28 05 2025 22:25:46.777:WARN [web-server]: [39m404: /_karma_webpack_/assets/images/curso-python.png
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 7 of 24 SUCCESS (0 secs / 0.197 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 8 of 24 SUCCESS (0 secs / 0.202 secs)
[33m28 05 2025 22:25:46.788:WARN [web-server]: [39m404: /_karma_webpack_/assets/images/hero-image.png
[33m28 05 2025 22:25:46.788:WARN [web-server]: [39m404: /_karma_webpack_/assets/images/curso-python.png
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 9 of 24 SUCCESS (0 secs / 0.207 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 10 of 24 SUCCESS (0 secs / 0.211 secs)
[33m28 05 2025 22:25:46.798:WARN [web-server]: [39m404: /_karma_webpack_/assets/images/hero-image.png
[33m28 05 2025 22:25:46.799:WARN [web-server]: [39m404: /_karma_webpack_/assets/images/curso-python.png
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 11 of 24 SUCCESS (0 secs / 0.24 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 12 of 24 SUCCESS (0 secs / 0.248 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 13 of 24 SUCCESS (0 secs / 0.257 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 14 of 24 SUCCESS (0 secs / 0.261 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 15 of 24 SUCCESS (0 secs / 0.263 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 16 of 24 SUCCESS (0 secs / 0.266 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 17 of 24 SUCCESS (0 secs / 0.272 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 18 of 24 SUCCESS (0 secs / 0.275 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 19 of 24 SUCCESS (0 secs / 0.284 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 20 of 24 SUCCESS (0 secs / 0.293 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 21 of 24 SUCCESS (0 secs / 0.298 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 22 of 24 SUCCESS (0 secs / 0.305 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 23 of 24 SUCCESS (0 secs / 0.311 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 24 of 24 SUCCESS (0 secs / 0.318 secs)
[1A[2KChrome Headless 136.0.0.0 (Linux x86_64): Executed 24 of 24 SUCCESS (0.363 secs / 0.318 secs)
TOTAL: 24 SUCCESS
```
