.editor-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

textarea {
  font-family: 'Courier New', monospace;
  font-size: 18px;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #555;
}

  pre {
    background: #1e1e1e;   
    color: #00ff00;         
    padding: 20px;
    border-radius: 5px;
    white-space: pre-wrap;
    font-size: 24px; 
  }
   button {
    font-size: 24px; 
  }
}
