<header class="main-header">
  <div id="nav-logo" class="logo">
    <img src="images/logo.png" alt="Logo Aprende Python" class="logo-navbar">
    <h1>Aprende Python</h1>
  </div>
  <button class="menu-toggle" (click)="toggleMenu()">☰</button>
  <nav class="main-nav" [ngClass]="{'active': isMenuActive}">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          (click)="closeMenu()">Inicio</a></li>
      <li><a routerLink="/lista-cursos" routerLinkActive="active" (click)="closeMenu()">Cursos</a></li>
      <li><a routerLink="/lista-ejercicios" routerLinkActive="active" (click)="closeMenu()">Ejercicios</a></li>
      <li><a routerLink="/lista-videos" routerLinkActive="active" (click)="closeMenu()">Videos</a></li>
      <li><a routerLink="/terminal" routerLinkActive="active" (click)="closeMenu()">Terminal</a></li>
      <li><a routerLink="/buscador" routerLinkActive="active" (click)="closeMenu()">Buscador</a></li>
      <li><a routerLink="/progreso-aprendizaje" routerLinkActive="active" (click)="closeMenu()">Mi aprendizaje</a></li>
    </ul>
  </nav>
</header>